$colorSite:#F16D7F;
$colorHover:blue;
$colorHeaderFooter: #222224;
$widthSite:1140px;
$colorText:#000;
$fontFamilySite:Lato;
$widthBurgerMenu:232px;
@mixin flexSBcenter($gap) {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color: inherit;

}
a:hover{
    color: $colorHover;
}
summary{
    list-style: none;
}

.box-content {
    overflow: hidden;
  
}

.container {
    margin: 0 auto;
    max-width: $widthSite;
}

.center {
    padding-left: calc(50% - $widthSite/2);
    padding-right: calc(50% - $widthSite/2);
}


#burger {
    position: absolute;
    left: -99999px;
    visibility: hidden;

    &:checked ~ .header__right__nav {
    // display: none;
    right: -$widthBurgerMenu;
    }
}

.header {
    background-color: $colorHeaderFooter;
    padding-top: 18px;
    padding-bottom: 20px;
    position: relative;
    &__left {
        @include flexSBcenter(41px);
    }
    &__right {
        @include flexSBcenter(33px);


        &__nav{
            background: #FFF;
            box-shadow:6px 4px 35px ;
            
            width: 232px;
            padding: 32px;
            box-sizing: border-box;
            position: absolute;
            top: 79px;
            right: 0;
            transition: right .3s;
        }
        &__menu{
            list-style-type:none;
            color: #000;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 24px;

        }
        &__li{
            list-style-type:none;
            color: #F16D7F;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 12px;
            
            

        }
        &__limenu{
            list-style-type:none;
            color: #6F6E6E;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: 21px;
            margin-top: 11px;
            
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 44px;
        height: 38px;
        flex-shrink: 0;
    }
}

.icon:hover path {
    fill: $colorHover;
}

.promo{
    background-color: #F1E4E6;
    // padding-left: calc(50% - 800px);
    // padding-right: calc(50% - 800px);
    
    
    &__flex{ 
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        
    }
    &__img{height: 764px;
     
    }
   
   
    &__text{
        margin-left: 63px;
        padding-left: 12px;
        border-left: 12px solid #F16D7F;
              
    }
    &__text1{
        color: #222;
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    &__text2{
        color: #222;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__fashion{
        color: #F16D7F;
        
    }

}

// .sort{
// padding-top: 12px;
// display: flex;
// gap: 18px;
//     // position: absolute;
//     // left: 540px;
//     // top:51px;
//     &__details{
//         position: relative;
//     }
//     &__summury{
//         display: flex;
//         align-items: center;
//         gap: 10px;
//     }
//     &__heading{color: #6F6E6E;
//         font-family: $fontFamilySite;
//         font-size: 14px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: normal;}
//     &__box{
//         position: absolute;
//         left: -9px;
//         top: 22px;
//         z-index: 10;
//         background: #FFF;
//         box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
//         padding: 7px 30px 11px 9px;
//         display: flex;
//         flex-direction: column;
//         gap: 8px;
//     }
//     &__check{
//        display: flex;
//        gap: 9px;
//        align-items: center;
//        color: #6F6E6E;
//         font-family: Roboto;
//         font-size: 14px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: normal;
//         //Изменение стиля checkbox
//         position:relative;
//         padding-left:25px;

//         & input[type=checkbox] {
//             display:none;
//         }
//         & label:after {
//             content:'';
//             display:block;
//             height:13px;
//             width:13px;
//             outline:1px solid #EBEBEB;
//             position:absolute;
//             top:0;
//             left:0;
//         }
//         & input[type=checkbox]:checked + label:after {
//             outline:1px solid #939598;
//             border:2px solid #fff;
//             width:10px;
//             height:10px;
//             background-color:#63849F;
//         }

//     }
   
// }

.sale{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;

    &__item{
        position: relative;}
    
    
    &__content{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item_big{
        min-height: 180px;
        grid-column: 1 / -1;
    }

    &__text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

    &__heading{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $colorSite;
    }
}
.fetured{
    text-align: center;
    margin-bottom: 47px;
    &__heading{
        color: #222;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 6px;
    }
    &__text{
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.products {
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 2fr;
        gap: 30px;
    }
    &__item {
        background-color: #F8F8F8;
        &:hover .products__item__img {
            filter: brightness(0.5);
        }
        &__content {
            padding-top: 24px;
            padding-bottom: 20px;
        }
        &__heading {
            color: #000;
            font-family: $fontFamilySite;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__text {
            color: #5D5D5D;
            font-family: $fontFamilySite;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-top: 12px;
            margin-bottom: 18px;
        }
        &__price {
            color: #F16D7F;
            font-family:$fontFamilySite;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.linkAll{
    
    
    margin-top: 48px;
    margin-bottom: 95px;
   
    &__div{
        width: 212px;
        padding-top: 15px;
        padding-bottom:14px ;
        border:1px solid $colorSite ; 
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        & :hover{
            background-color: $colorSite;
            color: #FFF;

        }

    }

    &__link{
        
        color: $colorSite;

        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
}

.advantages {
    background-color: $colorHeaderFooter;
    padding: 103px 103px;
    &__flex {
        // display: flex;
        // justify-content: space-between;
        @include flexSBcenter(30);
    }
    &__item {
        text-align: center;
        &__img {}
        &__h {
            color: #FBFBFB;
            font-family: $fontFamilySite;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 25px;
            padding-bottom: 16px;
        }
        &__text {
            color: #FBFBFB;
            text-align: center;
            font-family: $fontFamilySite;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}

.review {
    background-image: linear-gradient(180deg, rgba(244, 244, 244, 0.70), rgba(244, 244, 244, 0.70)), url(img/Layer41.svg);
    height: 448px;
    background-size: cover;
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__figure {
        text-align: center;
        &__img {
            margin-top: 97px;
        }
        &__text {
            width: 360px;
            height: 99px;
            color: #222224;
            text-align: center;
            font-family: $fontFamilySite;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 30px;
        }
        &__curs {
            color: #222224;
            font-family: $fontFamilySite;
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__subscribe {
        &__text {
            width: 557px;
            height: 61px;
            text-align: center;
            margin-top: 54px;
            margin-bottom: 27px;
        }
        &__h {
            color: #222224;
            text-align: center;
            font-family: $fontFamilySite;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &__h2 {
            color: #222224;
            font-family: $fontFamilySite;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__form {
            width: 557px;
            text-align: center;
        }
        &__email {
            color: #222224;
            font-family: $fontFamilySite;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            opacity: 0.671;
            background-color: #E1E1E1;
            padding-top: 7px;
            padding-bottom: 6px;
            padding-left: 22px;
            border-top-left-radius: 22px;
            border-bottom-left-radius: 22px;
            border: 1px solid #E1E1E1;
            height: 49px;
        }
        &__button {
            color: #FFF;
            text-align: center;
            font-family: $fontFamilySite;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background-color: $colorSite;
            padding: 7px 7px 5px 8px;
            border-top-right-radius: 22px;
            border-bottom-right-radius: 22px;
            border: 1px solid $colorSite;
            height: 49px;
        }
        &__button:hover {
            color: $colorHover;
        }
    }
}

.footer {
    background-color: $colorHeaderFooter;
    &__flex {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__copyright {
        color: #FBFBFB;
        font-family: $fontFamilySite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__links {
        @include flexSBcenter(7px)
    }
    &__link1 {
        width: 32px;
        height: 32px;
        background-color: #FFF;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    &__icon:hover path {
        fill: $colorSite;
    }
}